@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161b21;

}

.digital-clock{
    position: relative;
    color: #fff;
    background: #4d4d4d;
    width: 425px;
    padding: 20px 45px;
    box-shadow: 0px 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: #1d2634;
    font-family: "Segoe UI",sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #ffbf00;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: background ,shadow;
}
.digital-clock:hover{
    background-color: #183e5d;
    
}


.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hours, .dots, .minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 125px;
}
.hours, .minutes{
    font-size: 6.5em;
    width: 125px;

}

.dots{
    font-size: 5em;
    color: #090909;
}

.hours{
    background: -webkit-linear-gradient(90deg, #616161, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.minutes{
    
    background: -webkit-linear-gradient(90deg, #6b6b6b, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;

}
.period, .seconds{
    font-size: 1.2em;
    font-weight: 500;


}
.period{
    transform:translateY(-20px);
    background: -webkit-linear-gradient(90deg, #ffa600, #dfc6b2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds{
    transform:translateY(16px);
    background: -webkit-linear-gradient(90deg, #fdce00, #c1b47c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg, #ffc400, #b68838);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.day-name, .day-number, .year{
    margin-left: 8px;

}
